{{define "error"}}
<html>
  <head>
    <title>Error - {{.AppName}}</title>
    {{template "common-head" .}}
  </head>
<style>
body {
    color: red;
}
.root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.gr-center {
    justify-self: center;
    align-self: center;
}
</style>
  <body>
    <div class="root">

        <div class="gr-center flex flex-column">
          <div class="mt3">
              {{template "logo" .}}
          </div>
          <div class="mt3 gr-center">
            Catastrophic failure. 
          </div>
        </div>

    </div>
  </body>
</html>
{{end}}
